[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
ExecStart=/usr/local/bin/redis-server /etc/redis/redis.conf
ExecStop=/usr/local/bin/redis-server /etc/redis/redis.conf shutdown
Restart=on-failure
Type=simple

User=redis
Group=redis
TimeoutStartSec=0
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

